/* Mobile first! */ 

body {
	background-color: lightGray;
}

div {
	border: 1px solid purple;
}

#placeholder {
	margin-top: 20px;
	margin-bottom: 40px;
}

#h1margin {
	margin-bottom: 30px;
}

#placeholder2 {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}

.bigButton {
	width: 60%;
}

input:required {
	color: red;
}